*.lock
*.rrd
log

#Ignore data files in data folders
Data/PolarScienceCenter/PIOMAS/RawData/*.*
Data/PolarScienceCenter/PIOMAS/Processed/ASCII/*.ASC
Data/PolarScienceCenter/PIOMAS/Processed/PointFeatures/*.*
Data/PolarScienceCenter/PIOMAS/Processed/Rasters/*.*
Data/SimDir/*.ASC
Data/SimDir/GISFiles/*.*